In [1]:
import numpy as np

# Accesing elements

In [2]:
x = np.array([1, 2, 3, 4, 5])

In [3]:
print('This is First Element in x:', x[0]) 
print('This is Second Element in x:', x[1])
print('This is Fifth (Last) Element in x:', x[4])

This is First Element in x: 1
This is Second Element in x: 2
This is Fifth (Last) Element in x: 5

In [11]:
# Let's access the same elements with negative indices
print('This is First Element in x:', x[-5])
print('This is Second Element in x:', x[-4])
print('This is Fifth (Last) Element in x:', x[-1])

This is First Element in x: 1
This is Second Element in x: 2
This is Fifth (Last) Element in x: 5

## For 2n array

In [12]:
# We create a 3 x 3 rank 2 ndarray that contains integers from 1 to 9
X = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [14]:
# Let's access some elements in X
print('This is (0,0) Element in X:', X[0,0] , 'or', X[0][0])
print('This is (0,1) Element in X:', X[0,1])
print('This is (2,2) Element in X:', X[2,2])

This is (0,0) Element in X: 1 or 1
This is (0,1) Element in X: 2
This is (2,2) Element in X: 9

# Modify elements

In [5]:
x = np.array([1, 2, 3, 4, 5])

In [6]:
# We change the fourth element in x from 4 to 20
x[3] = 20

In [7]:
print('Modified:\n x = ', x)

Modified:
 x =  [ 1  2  3 20  5]

In [8]:
# We create a 3 x 3 rank 2 ndarray that contains integers from 1 to 9
X = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [9]:
X[1][1]

5

## Modify elements in 2n array

In [18]:
X = np.array([[1,2,3],[4,5,6],[7,8,9]])
# We change the (0,0) element in X from 1 to 20
X[0,0] = 20

# We print X after it was modified 
print('Modified:\n X = \n', X)

Modified:
 X =
 [[20  2  3]
 [ 4  5  6]
 [ 7  8  9]]

# Deleting elements

In [22]:
# We create a rank 1 ndarray 
x = np.array([1, 2, 3, 4, 5])

# We create a rank 2 ndarray
Y = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [20]:
# We delete the first and last element of x
x = np.delete(x, [0,4])
x

array([2, 3, 4])

In [21]:
# We delete the first row of y
w = np.delete(Y, 0, axis=0)
w

array([[4, 5, 6],
       [7, 8, 9]])

In [24]:
# We delete the first and last column of y
v = np.delete(Y, [0,2], axis=1)
v

array([[2],
       [5],
       [8]])

# Append

In [29]:
# We create a rank 1 ndarray 
x = np.array([1, 2, 3, 4, 5])

# We create a rank 2 ndarray 
Y = np.array([[1,2,3],[4,5,6]])

In [30]:
# We append the integer 6 to x
x = np.append(x, 6)
x

array([1, 2, 3, 4, 5, 6])

In [31]:
# We append the integer 7 and 8 to x
x = np.append(x, [7,8])
x

array([1, 2, 3, 4, 5, 6, 7, 8])

In [32]:
# We append a new row containing 7,8,9 to y
v = np.append(Y, [[7,8,9]], axis=0)
v

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [33]:
# We append a new column containing 9 and 10 to y
q = np.append(Y,[[9],[10]], axis=1)
q

array([[ 1,  2,  3,  9],
       [ 4,  5,  6, 10]])

# Inserting elements

In [34]:
# We create a rank 1 ndarray 
x = np.array([1, 2, 5, 6, 7])

# We create a rank 2 ndarray 
Y = np.array([[1,2,3],[7,8,9]])

In [36]:
#  Inserting integer 3 and 4 betweend 2 and 5 in x
np.insert(x, 2, [3, 4])

array([1, 2, 3, 4, 5, 6, 7])

In [38]:
# Inserting a row between the first and last row of Y
np.insert(Y, 1, [4,5,6], axis=0)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [42]:
# Inserting a columns full of 5s between the firsrt an second column of y
np.insert(Y, 1, [5,5], axis=1) # np.insert(Y, 1, 5, axis=1) is valid too

array([[1, 5, 2, 3],
       [7, 5, 8, 9]])

# numpy.hstack and numpy.vstack

It returns a stacked array formed by stacking the given arrays, will be at least 2-D, in sequence vertically (row-wise).

In [46]:
# We create a rank 1 ndarray 
x = np.array([1,2])

# We create a rank 2 ndarray 
y = np.array([[3,4],[5,6]])

In [47]:
np.vstack((x,y)) # Put y under x vertically

array([[1, 2],
       [3, 4],
       [5, 6]])

In [48]:
# We stack x on the right of Y. We need to reshape x in order to stack it on the right of Y. 
np.hstack((y,x.reshape(2,1)))

array([[3, 4, 1],
       [5, 6, 2]])