# DATA FRAMES

In [1]:
import pandas as pd

In [3]:
items = {
    'camilo': pd.Series([1,2,3], index=["bike", "pants", "bananas"]),
    'carito': pd.Series([40, 110, 500, 45], index=["book", "glassess", "bike", "pants"])
}

In [4]:
shopping_carts = pd.DataFrame(items)
shopping_carts

          camilo  carito
bananas      3.0     NaN
bike         1.0   500.0
book         NaN    40.0
glassess     NaN   110.0
pants        2.0    45.0

In [5]:
shopping_carts.index

Index(['bananas', 'bike', 'book', 'glassess', 'pants'], dtype='object')

In [6]:
shopping_carts.values

array([[  3.,  nan],
       [  1., 500.],
       [ nan,  40.],
       [ nan, 110.],
       [  2.,  45.]])

In [8]:
shopping_carts.columns

Index(['camilo', 'carito'], dtype='object')

In [11]:
shopping_carts.ndim

2

In [13]:
shopping_carts.shape

(5, 2)

In [14]:
shopping_carts.size

10

## Selections

In [16]:
camilo_data = pd.DataFrame(items, columns=['camilo'])
camilo_data

         camilo
bike          1
pants         2
bananas       3

In [17]:
sel_shopping_cart = pd.DataFrame(items, index=['book', 'pants'])
sel_shopping_cart

       camilo  carito
book      NaN      40
pants     2.0      45

In [18]:
carito_sel_shopping_cart = pd.DataFrame(items, index=['book', 'pants'], columns=['carito'])
carito_sel_shopping_cart

       carito
book       40
pants      45