In [1]:
import numpy as np

1. ndarray[start:end]
2. ndarray[start:]
3. ndarray[:end]

In [3]:
# We create a 4 x 5 ndarray that contains integers from 0 to 19
x = np.arange(20).reshape(4, 5)
x

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [5]:
# We select all the elements that are in the 2nd through 4th rows and in the 3rd to 5th columns
# (The 1st being index 0)
x[1:4, 2:5]

array([[ 7,  8,  9],
       [12, 13, 14],
       [17, 18, 19]])

In [6]:
# We can select the same elements as above using method 2
x[1:,2:5]

array([[ 7,  8,  9],
       [12, 13, 14],
       [17, 18, 19]])

In [14]:
# We select all the elements that are in the 1st through 3rd rows and in the 3rd to 4th columns
x[:3,2:5]

array([[ 2,  3],
       [ 7,  8],
       [12, 13]])

In [18]:
# We select all the elements in the 3rd row
x[2,:]

array([10, 11, 12, 13, 14])

In [19]:
# We select all the elements in the 3rd column
x[:, 2]

array([ 2,  7, 12, 17])

In [21]:
# We select all the elements in the 3rd column but return a rank 2 ndarray
x[:, 2:3]

array([[ 2],
       [ 7],
       [12],
       [17]])

# Slicing and editing elements in a 2-D ndarray

> It is important to note that when we perform slices on ndarrays and save them into new variables, as we did above, the data is not copied into the new variable. This is one feature that often causes confusion for beginners.

In [23]:
x = np.arange(20).reshape(4, 5)
x

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [26]:
# We select all the elements that are in the 2nd through 4th rows and in the 3rd to 4th columns
z = x[1:,2:]
z

array([[ 7,  8,  9],
       [12, 13, 14],
       [17, 18, 19]])

In [27]:
# We change the last element in Z to 555
z[2,2] = 555

In [29]:
print('X = \n', x)

X =
 [[  0   1   2   3   4]
 [  5   6   7   8   9]
 [ 10  11  12  13  14]
 [ 15  16  17  18 555]]

# Demonstrate the copy() function

In [31]:
x = np.arange(20).reshape(4, 5)
x

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [33]:
# create a copy of the slice using the np.copy() function
Z = np.copy(x[1:4,2:5])
Z

array([[ 7,  8,  9],
       [12, 13, 14],
       [17, 18, 19]])

In [35]:
W = x[1:4,2:5].copy()
W

array([[ 7,  8,  9],
       [12, 13, 14],
       [17, 18, 19]])

In [36]:
# We change the last element in Z to 555
Z[2,2] = 555

# We change the last element in W to 444
W[2,2] = 444

In [38]:
print('X = \n', x)
print('Z = \n', Z)

X =
 [[ 0  1  2  3  4]
 [ 5  6  7  8  9]
 [10 11 12 13 14]
 [15 16 17 18 19]]
Z =
 [[  7   8   9]
 [ 12  13  14]
 [ 17  18 555]]

# Diag function

In [39]:
# We create a 5 x 5 ndarray that contains integers from 0 to 24
x = np.arange(25).reshape(5, 5)
x

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [40]:
# We print the elements in the main diagonal of X
np.diag(x)

array([ 0,  6, 12, 18, 24])

In [41]:
# We print the elements above the main diagonal of X
np.diag(x, k=1)

array([ 1,  7, 13, 19])

In [42]:
# We print the elements below the main diagonal of X
np.diag(x, k=-1)

array([ 5, 11, 17, 23])

# Unique function

In [43]:
x = np.array([[1,2,3],[5,2,8],[1,2,3]])
x

array([[1, 2, 3],
       [5, 2, 8],
       [1, 2, 3]])

In [44]:
np.unique(x)

array([1, 2, 3, 5, 8])